/* @import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Uncial+Antiqua&family=UnifrakturCook:wght@700&display=swap');

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(254, 236, 100);
    margin: 0;
    padding: 0;
    background-color: rgb(17, 33, 64);
    background-image: url(images/leaves-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Website links except the nav */
a:link {
    color: rgb(241, 189, 3);
}
a:visited {
    color: rgb(254, 236, 100);
}
a:hover {
    color: white;
}
a:active {
    color: rgb(241, 110, 3);
}

/* Navigation */
nav {
    background-color: rgb(17, 77, 22);
    background-image: url(images/leaves-background-green.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-top: rgb(241, 189, 3) 3px solid;
    border-bottom: rgb(241, 189, 3) 3px solid;
    padding: 0;
}
nav ul {
    list-style-type: none;
    text-align: center;
    margin: 8px 0;
    padding: 0;
}
nav li {
    display: inline;
    padding: 10px 20px;
}
nav a {
    font-family: 'Uncial Antiqua';
    font-size: 1.2em;
    text-decoration: none;
}
nav a:link {
    color:rgb(254, 236, 100);
}
nav a:visited {
    color: rgb(241, 189, 3);
}
nav a:hover {
    color: white;
}
nav a:active {
    color: rgb(239, 75, 15);
}

header {
    background-image: url(images/leaves_banner-short.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px auto;
    padding: 0;
    margin: 0;
}
header .col-sm-12 {
    padding: 0;
}
header h1 {
    font-family: 'Uncial Antiqua';
    text-align: center;
    font-size: 60px;
    color:rgb(254, 236, 100);
    text-shadow: 3px 3px 3px black;
    margin: 0;
    padding: 10px 10px 10px;
    /* background-color: rgba(14, 63, 37, 0.5); */
}
/* Logo */
.logo {
    max-width: auto;
    max-height: 150px;
    display: block;
    margin: 0 auto;
    /* padding: 20px; */
}

/* Main */
main {
    margin: 20px auto;
    padding: 0;
    margin: 0;
    color: rgb(254, 236, 100);
}
main h2 {
    font-family: 'Uncial Antiqua';
    font-size: 2em;
    text-align: center;
    padding: 10px;
    margin: 5px;
}
h3 {
    font-family: 'Uncial Antiqua';
    font-size:1.5em;
    text-align: center;
    margin: 15px 0 0;
}

main p {
    padding: 0 10px;
}

.container-fluid {
    max-width: 1000px;
}

.gallery {
    padding: 10px;
}
.gallery img {
    width: auto;
    margin: 5px;
    border: rgb(241, 189, 3) 3px solid;
}

/* Footer */
footer {
    border-top: rgb(241, 189, 3) 2px solid;
    text-align: center;
    background-image: url(images/leaves-background-green.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
footer h4 {
    font-size: 1em;
}
footer p, .fa {
    font-size: .8em;
    margin: .4em;
}
/* footer .fa {
    font-size: 1em;
    align-items: center;
} */
footer small {
    font-size: .6em;
    padding: 10px 0;
}
.right-align {
    text-align:  right;
}

/* CSS without a media query--applies to all sizes unless overridden */
h1 {
    font-size: 4em;
}

.embededImages {
    margin-right: 20px;
    margin-bottom: 20px;
    border: rgb(241, 189, 3) 2px solid;
    float: left;
}

.project-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.project-gallery div {
    border: rgb(241, 189, 3) 2px solid;
    background: rgb(17, 77, 22);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin: 5px;
}
.gallery {
    text-align: center;
}
.gallery h4 {
    text-align: center;
    font-size: 1em;
    font-family: 'Uncial Antiqua';
}
.gallery-thumbnails {
    margin: 0 auto;
    text-align: center;
}
.preview-img {
    overflow-x: auto;
    overflow-y: hidden;
}


.videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 }

.socialMediaLinks {
list-style-type: none;
}

/* CSS adjustemnts for tablets */
@media only screen and (max-width: 1024px)
{
    h1 {
        font-size: 2em;
    }
    .preview-img {
        max-width: 1024px;
    }
}

/* CSS adjustemnts for smartphones */
@media only screen and (max-width: 768px)
{
    h1 {
        font-size: 1.5em;
    }
    .preview-img {
        max-width: 768px;
    }
}